# Base de datos - MariaDB (Cloud)
DB_URL=jdbc:mariadb://34.27.240.236:3306/banquito_core?useUnicode=true&characterEncoding=utf8
DB_USERNAME=admin
DB_PASSWORD=banbanquito2

SPRING_MAIL_HOST=34.27.240.236
SPRING_MAIL_PORT=1025
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=false
SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=false
SPRING_MAIL_CONNECTION_TIMEOUT=5000
SPRING_MAIL_TIMEOUT=5000
SPRING_MAIL_WRITE_TIMEOUT=5000
SPRING_MAIL_FROM=notificaciones@banquito.com
APP_MAIL_ENABLED=true